html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@charset "UTF-8";

body {
    
    margin: 0;
    background-color: #F3F3F3;
}

a {
    font-family: "Ek Mukta";
    font-size: 1.25em;
    color: #262626;
    text-decoration: none;
}
a.footer {
    font-family: "Ek Mukta";
    font-size: 1em;
}
.portraitDiv {
    width: 220px;
    display:inline-grid;
    font-family: "Ek Mukta";
    font-size: 1.5em;
    text-align: center;
    font-weight:500;
}




p {
	font-family:"Ek Mukta";
	color:#262626;
	font-size:16px;
	text-decoration:none;
	}

p.text {
	font-family:"Ek Mukta";
	color:#262626;
	font-size:16px;
	font-weight:100;
	text-decoration:none;
	text-justify:auto;
    padding:30px;
	}
.left{
    position: relative;
    width: 45%;
    float: left;
}

.right{
    position: relative;
    width: 45%;
    float: right;
    margin-left:30px;
    margin-bottom: 30px;
}


p.footerText{
    color: #262626;
    padding-left: 50px;
    padding-top: 10px;
}

li.footerList{
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

ul.footerUlist{
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Ek Mukta";
}

li.footerLogo{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding-right: 7.5%;
    
}

.navigation {
  height: 70px;
  background: #FFD500;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.brand {
  position: relative;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #FFD500;
  color: #262626;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #EC1C24;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1081px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    margin-top: -5px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding:10px;
    line-height: 2em;
  }
  nav ul li ul li a {
    padding-left: 50px;
  }
    
  .nav-dropdown {
    position: static;
  }
    
    .whiteSpace {
    position: relative;
    height:0px;
}
    .right{
    position: relative;
    width: 100%;
        align-items: center;
}
    .navigation{
        font-size: 4em;
    }   
    .portraitDiv{
        width: 24%;
        margin-right: 0.55%;
    }
    li.footerLogo{
        width: 85%;
        padding-left: 5%
    }
    li.footerList>p{
        font-size: 50px;
    }
    li.footerList>h3{
        font-size: 50px;
    }
    li.footerList>a{
        font-size: 50px;
    }
li.footerList{
  width: 30%;
}
}
@media screen and (min-width: 1081px) {
  .nav-list {
    display: block !important;
  }
 
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
    
}

.image {
    width: 100%;
    position: relative;
}
                                                    

img.knappBilde{
    max-height: 400px;
    min-height: 128px;
    width:99%;
}



table.knapperTable,tr.knapperTr,td.knapperTd {
    text-align: center;
    font-family: "Ek Mukta";
    
 } 

  h1 {
	font-family:"Ek Mukta";
	font-size:3em;
	text-align:center;
    position: relative;
    padding: 1em;
    margin-top: 0px;
    font-weight: bold;
    }  
h2 {
	font-family:"Ek Mukta";
	font-size:1.75em;
	text-align:center;
    font-weight: bold;
	}
h3 {
	font-family:"Ek Mukta";
	font-size:2em;
	text-align:left;
    margin-top: -0.75em;
    font-weight:bold;
	}

#stayOut {
    width: 100%;
    display:table;
}

#footer{
    background-color: #FFD500;
    height: auto;
    
}

#logoBottomBanner{
        position: relative;
        top:1.45em;
        width: 25%;
    float: left;
}

#tableBottomBanner{
    float: right;
    position: relative;
    width: 65%;
    padding-top: 3em;
}
.whiteSpace {
    position: relative;
    height:50px;
}

.nav-dropdown-text {
    padding-top: 30px;
    height: 30px;
}