@charset "UTF-8";

body {
    
    margin: 0;
    background-color: #F3F3F3;
}

a {
    font-family: "Ek Mukta";
    font-size: 1.25em;
}
a.footer {
    font-family: "Ek Mukta";
    font-size: 1em;
}




p {
	font-family:"Ek Mukta";
	color:#262626;
	font-size:16px;
	font-weight:100;
	text-decoration:none;
	text-justify:auto;
	padding:15px;  
	}
.left{
    position: relative;
    width: 45%;
    float: left;
}

.right{
    position: relative;
    width: 45%;
    float: right;
}

.navigation {
  height: 70px;
  background: #FFD500;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.brand {
  position: relative;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #FFD500;
  color: #262626;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #EC1C24;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1081px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    margin-top: -27.5px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding:10px;
    line-height: 2em;
  }
  nav ul li ul li a {
    padding-left: 50px;
  }
    
  .nav-dropdown {
    position: static;
  }
    a{
        font-size: 4em;
    }
    
    .whiteSpace {
    position: relative;
    height:0px;
}
    .right{
    position: relative;
    width: 100%;
    float: right;
}
      
}
@media screen and (min-width: 1081px) {
  .nav-list {
    display: block !important;
  }
 
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
    
}

.image {
    width: 100%;
    position: relative;
}
                                                    

img.knappBilde{
    max-height: 400px;
    min-height: 128px;
    width:100%;
}



table.knapperTable,tr.knapperTr,td.knapperTd {
    text-align: center;
    font-family: "Ek Mukta";
    
 } 

  h2 {
	font-family:"Ek Mukta";
	font-size:3em;
	text-align:center;
    position: relative;
    padding: 1em;
    margin-top: 0px;
    }  
h1 {
	font-family:"Ek Mukta";
	font-size:1.75em;
	text-align:center;
    font-weight: 100;
	}
h3 {
	font-family:"Ek Mukta";
	font-size:2em;
	text-align:left;
    margin-top: -0.75em;
	}

#stayOut {
    width: 100%;
    display:table;
}

#footer{
    background-color: #FFD500;
    height: 15em;
    
}

#logoBottomBanner{
        position: relative;
        top:1.45em;
        width: 25%;
    float: left;
}

#tableBottomBanner{
    float: right;
    position: relative;
    width: 65%;
    padding-top: 3em;
}
.whiteSpace {
    position: relative;
    height:50px;
}

.nav-dropdown-text {
    padding-top: 30px;
    height: 30px;
}
